{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/sponsorsPlugin.css' %}">
<div class="footer-teams" style="width: 90%;
    /* float: left; */
    margin-left: 8%;">
    <div class="container-fluid">
        <div class="team-list">
            <div class="team-item" style="float: left;">
                <div class="team-content">
                    <div class="team-image">
                        <a href="" title="Micromax Indian Aces"><img src="{% static 'images/Logo-Yonex.png' %}" title="Micromax Indian Aces" alt="Micromax Indian Aces"></a>
                    </div>
                    <div class="team-name">
                        <a href="" title="Micromax Indian Aces"><span>Micromax<br>Indian Aces</span></a>
                    </div>
                </div>
            </div>
            <div class="team-item" style="float: left;">
                <div class="team-content">
                    <div class="team-image">
                        <a href="" title="Legendari Japan Warriors"><img src="{% static 'images/Nike.png' %}" title="Legendari Japan Warriors" alt="Legendari Japan Warriors"></a>
                    </div>
                    <div class="team-name">
                        <a href="" title="Legendari Japan Warriors"><span>Legendari<br>Japan Warriors</span></a>
                    </div>
                </div>
            </div>                        
            <div class="team-item" style="float: left;">
                <div class="team-content">
                    <div class="team-image">
                        <a href="" title="Philippine Mavericks"><img src="{% static 'images/Kookaburra.png' %}" title="Philippine Mavericks" alt="Philippine Mavericks"></a>
                    </div>
                    <div class="team-name">
                        <a href="" title="Philippine Mavericks"><span>Philippine<br>Mavericks</span></a>
                    </div>
                </div>
            </div>                        
            <div class="team-item" style="float: left;">
                <div class="team-content">
                    <div class="team-image">
                        <a href="" title="OUE Singapore Slammers"><img src="{% static 'images/adidas.png' %}" title="OUE Singapore Slammers" alt="OUE Singapore Slammers"></a>
                    </div>
                    <div class="team-name">
                        <a href="" title="OUE Singapore Slammers"><span>OUE Singapore<br>Slammers</span></a>
                    </div>
                </div>
            </div> 
            <div class="team-item" style="float: left;">
                <div class="team-content">
                    <div class="team-image">
                        <a href="" title="Obi UAE Royals"><img src="{% static 'images/Coca-Cola.png' %}" title="Obi UAE Royals" alt="Obi UAE Royals"></a>
                    </div>
                    <div class="team-name">
                        <a href="" title="Obi UAE Royals"><span>Obi UAE<br>Royals</span></a>
                    </div>
                </div>
            </div>                                                                        
        </div>
    </div>
</div>
