{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/themetypo.css' %}" rel="stylesheet">
		<link href="{% static 'css/styletheme/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/widget.css' %}" rel="stylesheet">
		<link href="{% static 'css/color.css' %}" rel="stylesheet">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
 <!--// Page Content //-->
        <section class="kode-pagesection kode-sport-section kode-parallax" style="background-attachment: fixed !important; background-image: url({% static "extra-images/parallax-1.jpg" %});">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
					<div class="heading heading-12 margin-top5-bottom10-flat">
						<p>Is Your Team Ready For RIO!</p>
						<h2><span class="left"></span>Rio Olympics Starts In<span class="right"></span></h2>
					</div>
                  <div class="kode-fixer-counter">
                    <div id="kodeCountdown"></div>
                  </div>
                  <div>
                      <span style="    color: black;
    font-size: 18px;
    font-weight: 500;">SASCOC calls for proposals for the training of Code Managers for RIO 2016 Olympics and Paralympics Games.</span>
                    {% comment %}<ul>
                      <li><a href="#"><img src="{% static "extra-images/fixer-logo1.png" %}" alt=""></a></li>
                      <li class="home-kode-vs"><a href="#" class="kode-modren-btn thbg-colortwo">vs</a></li>
                      <li><a href="#"><img src="{% static "extra-images/fixer-logo2.png" %}" alt=""></a></li>
                    </ul>
                    <div class="clearfix"></div>
                    <span class="kode-subtitle">Cycle Racing, Hockey May 18, 2015 14:30 - 16:00 CAMBRIDGESHIRE-UK</span>{% endcomment %}
                  </div>
                 {% comment %} <div>
                      <img src="{% static "images/nedbank.jpg" %}" class="rightImage1 img-responsive"/>
                       <img src="{% static "images/reebokhori.jpg" %}" class="rightImage2 img-responsive"/>
                      <img src="{% static "images/vodafone.jpg" %}" class="rightImage3 img-responsive"/>
                      <img src="{% static "images/nike_vertical.jpg" %}" class="leftImage1 img-responsive"/>
                  </div>{% endcomment %}
                </div>
              </div>
            </div>
        </section>
        <!--// Page Content //-->
		<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<script src="{% static 'js/waypoints-min.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-progressbar.js' %}"></script>
		<script src="{% static 'js/jquery.accordion.js' %}"></script>
		<script src="{% static 'js/jquery.circlechart.js' %}"></script>
		<script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
		<script src="{% static 'js/kode_pp.js' %}"></script>
		<script src="{% static 'js/functions.js' %}"></script>

</body>
</html>