{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/sportListPlugin.css' %}">
<div>
<div class="footer-teams">
	<div class="container-fluid" style="background-image:url('{% static 'images/abc.jpg' %}');background-repeat:no-repeat;">
	<h3 style="color:#2c3a69;height:40px;padding: 38px;">CHAMPIONSHIP SPORT'S</h3>
	<hr style="height:1px;width: 80%;
    /* float: right; */
    margin-left: 20px;">
		<div class="team-list">
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/petathlon.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>PENTATHLON</span></a>
					</div>
				</div>
				</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/hockey.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>HOCKEY</span></a>
					</div>
				</div>
				</div>
				<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/rugby.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>RUGBY</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/football.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>FOOTBALL</span></a>
					</div>
			</div>
			</div>
			<br><br><br><br><br>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/aquatics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>AQUATICS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/karate.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>KARATE</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/volleyball.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>HANDBALL</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/athletics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>ATHLETICS</span></a>
					</div>
			</div>
			</div>
			<br><br><br><br><br>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/archery.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>ARCHERY</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/badminton.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>BADMINTON</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/boxing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>BOXING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/golf.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>GOLF</span></a>
					</div>
			</div>
			</div>
			<br><br><br><br><br>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/gymnastics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>GYMNASTICS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/cricket.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>CRICKET</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/wrestling.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>WRESTLING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/tennis.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>TENNIS</span></a>
					</div>
			</div>
			</div>
			<br><br><br><br><br>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/fencing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>FENCING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/canoeing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>CANOEING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/judo.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>JUDO</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="background-image:url('{% static 'images/seprator.png' %}')">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/triathlon.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>TRITHLON</span></a>
					</div>
			</div>
			</div>
			</div>
			</div>
		</div>
			                    
			                                                                  
		</div>
	</div>
</div>
<div>
