{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/themetypo.css' %}" rel="stylesheet">
		<link href="{% static 'css/styletheme/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/widget.css' %}" rel="stylesheet">
		<link href="{% static 'css/color.css' %}" rel="stylesheet">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>
<!--// Page Content //-->
        <div class="kode-pagesection padding-top-bottom" style="padding-left: 3%;padding-right: 3%;">
          <div class="container">
            <div class="row">

                <div class="col-md-12">
                  <div class="kode-partner">
                    <ul class="row">
                      <li class="col-md-3"><a href="#"><img src="{% static "extra-images/Yonex.png" %}" alt=""></a></li>
                      <li class="col-md-3"><a href="#"><img src="{% static "extra-images/Nike.png" %}" alt=""></a></li>
                      <li class="col-md-3"><a href="#"><img src="{% static "extra-images/Kookaburra.png" %}" alt=""></a></li>
                      <li class="col-md-3"><a href="#"><img src="{% static "extra-images/Coca-Cola.png" %}" alt=""></a></li>
                      <li class="col-md-3"><a href="#"><img src="{% static "extra-images/adidas.png" %}" alt=""></a></li>
                        <li class="col-md-3"><a href="#"><img src="{% static "extra-images/mcdonalds-logo.jpg" %}" alt=""></a></li>
                        <li class="col-md-3"><a href="#"><img src="{% static "extra-images/samsung-logo.jpg" %}" alt=""></a></li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>
        </div>
        <!--// Page Content //-->

  <!--// NewsLatter //-->
      <div class="kode-newslatter kode-bg-color" style="padding-left: 3%;padding-right: 3%;">
        <span class="kode-halfbg thbg-color"></span>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h3>Subscribe Our Monthly Newsletter</h3>
            </div>
            <div class="col-md-6">
              <form>
                <input type="text" placeholder="Your E-mail Adress" name="s" required>
                <label><input type="submit" value=""></label>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--// NewsLatter //-->
<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<script src="{% static 'js/waypoints-min.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-progressbar.js' %}"></script>
		<script src="{% static 'js/jquery.accordion.js' %}"></script>
		<script src="{% static 'js/jquery.circlechart.js' %}"></script>
		<script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
		<script src="{% static 'js/kode_pp.js' %}"></script>
		<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>