{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/common.css' %}">
<link rel="stylesheet" href="{% static 'css/sportListPlugin.css' %}">
<!-- <img src="{% static 'images/AdSpace.png'%}"></img>
<img src="{% static 'images/AdSpace.png'%}" style="margin-left:80%"></i -->
<div class="toparticle-wrapper">
                        <div class="row">
						<div style="padding-left:70%" class="articlecontent-wrap">
						<p class="post-meta">
                        <time>20 December 2015</time>
                        </p>
					    <h3 class="post-title">
                        <a href="">Summer Games Gives Youngesters to shine</a>
                        </h3>
						<p class="post-desc">The Gauteng Sports Confederation together with the provincial Department of Sport and Recreation....</p>
						</div>
                        
                            <div class="col-md-8" style="    margin-top: -35.67%;
    margin-left: -14px;">
                                <div class="post-item list-type-article">
                                    <div class="post-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/young.jpg'%}" class="zoom_img">
                                        </a>
                                        <span class="type-icon" style="background-image:url('{% static 'images/article-icon.png' %}')"></span>
									</div>
                                </div>
					
                            </div>
                       
						</div>
			<div class="col-sm-12">
			<div class="mod-head">
						<h2>Latest Headlines</h2>
						</div>
                  <div class="row">
                            <div class="col-md-6 col-xs-6 col-sm-6" style="    margin-left: -16px;">
                                <div class="post-item list-type-article">
                                    <div class="post-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/young.jpg'%}" alt="OUE Singapore Slammers are Coca-Cola IPTL 2015 Champions" title="OUE Singapore Slammers are Coca-Cola IPTL 2015 Champions" src="http://www.iptlworld.com/img/images/clients/iptl/content/2015/dec/1204/finalmatchreport.jpg">
                                        </a>
                                    
                                    </div>
                                </div>
                                <span class="iconArticle" style="background-image:url('{% static 'images/article-icon.png' %}')"></span>
								<div class="articlecontent-wrap">
								 
                                    <div class="post-content">
                                        <p class="post-meta">
                                            <time>20 December 2015</time>
                                        </p>
                                        <h3 class="post-title">
                                            <a href="">Summer Games Gives Youngesters to shine</a>
                                        </h3>
                                        <p class="post-desc">The Gauteng Sports Confederation together with the provincial Department of Sport and Recreation....</p>
                                    </div>
                                </div>
                            </div>
          <div class="ccol-md-6 col-xs-6 col-sm-6">
                                <div class="post-item list-type-article">
                                    <div class="post-thumbnail">
                                        <a href="">
                                            <img src="{% static 'images/Ratanda-Stadium.jpg'%}" alt="OUE Singapore Slammers are Coca-Cola IPTL 2015 Champions" title="OUE Singapore Slammers are Coca-Cola IPTL 2015 Champions" src="http://www.iptlworld.com/img/images/clients/iptl/content/2015/dec/1204/finalmatchreport.jpg">
                                        </a>
                                       
                                    </div>
                                </div>
								<span class="iconArticle" style="background-image:url('{% static 'images/article-icon.png' %}')"></span>
								<div class="articlecontent-wrap">
                                    <div class="post-content">
                                        <p class="post-meta">
                                            <time>20 December 2015</time>
                                        </p>
                                        <h3 class="post-title">
                                            <a href="">Sedinberg get Stadium Upgrade Boost</a>
                                        </h3>
                                        <p class="post-desc">This GSC has raised an amount of R5million for the building and upgrading of community sport facilities in....</p>
                                    </div>
                                </div>
                            </div>
                        </div> 
		    </div>
  </div>
  <div style="float: right;
    width: 33%;
    margin-top: -27.33%;">
<div class="footer-teams">
	<div class="container-fluid" style="background-image:url('{% static 'images/abc.jpg' %}');background-repeat:no-repeat;">
	<h3 style="color:#2c3a69;height:40px;padding: 38px;">CHAMPIONSHIP SPORT'S</h3>
	<hr>
		<div class="team-list">
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/petathlon.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>PENTATHLON</span></a>
					</div>
				</div>
				</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/hockey.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>HOCKEY</span></a>
					</div>
				</div>
				</div>
				<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/rugby.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>RUGBY</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/football.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>FOOTBALL</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/aquatics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>AQUATICS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/karate.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>KARATE</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/volleyball.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>HANDBALL</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/athletics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>ATHLETICS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/archery.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>ARCHERY</span></a>
					</div>
			</div>
			</div>
<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/triathlon.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>TRITHLON</span></a>
					</div>
			</div>
			</div>
			</div>
			
			<div class="team-list" style="float:right;
    margin-top: -194%;">
				<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/badminton.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>BADMINTON</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/boxing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>BOXING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/golf.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>GOLF</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/gymnastics.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>GYMNASTICS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/cricket.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>CRICKET</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/wrestling.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>WRESTLING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/tennis.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>TENNIS</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/fencing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>FENCING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/canoeing.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>CANOEING</span></a>
					</div>
			</div>
			</div>
			<div class="team-item" style="">
				<div class="team-content">
					<div class="team-image">
						<a href=""><img src="{% static 'images/judo.png' %}" ></a>
					</div>
					<div class="team-name">
						<a href=""><span>JUDO</span></a>
					</div>
			</div>
			</div>
			
			</div>
			</div>
		</div>
			                    
			                                                                  
		</div>
	</div>
</div>
<div>

  