{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/information.css' %}">
<div class="container">
<div class="row">
<div class="col-md-4">
                                <div class="">
                                    <div class="">
                                        <a href="">
                                            <img src="{% static 'images/girlBall.jpg' %}" class="">
                                        </a>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" style="height: 280px;
    background-color: #f3f3f3;
    margin-left: 52px;">
                                <div class="">
                                    <div class="info">
									  <span class="icon"  style="background-image:url('{% static 'images/article-icon.png' %}')"></span>
                                        <h3 style="color: #248e8e;margin-left: -54px;
    margin-top: 33px;">TODAY'S PICK
                                        </h3>
										
										</div>
										
										 <div>
                                        <p class="infoP">NorthWest, Gauteng and Free State appear set for Netball semi-finals.
										This match was held on 27th August , 2015 for the Netball Championship at the National Stadium</p>
                                    </div>
                                </div>
                            </div>
                        </div>
</div>