{% load staticfiles %}
<div style="background-color:#2fb7b7;height:94px;width: 100%;">
        <div>       
            <p style="padding-top: 19px;">
			<a title="Terms &amp; Conditions" href="" style="padding-left: 50px;color: #ffffff;  text-decoration: none;">Terms &amp; Conditions</a>
			<a style="padding-left: 40px;color: #ffffff;  text-decoration: none;" alt="Privacy Policy" title="Privacy Policy" href="/privacy-policy">Privacy Policy</a>
			
            <p style="padding-left: 50px;font-size: 14px;line-height: 22px; color:#000000">© Copyright SPORTS ASSOCIATION 2015 | All Rights Reserved</p>
			<p style="color: #ffffff;float:right;margin-right:38px;margin-top: -41px;">Powered by SASCOC</p>
			</p>
		</div>   
</div>