{% load staticfiles %}
<div style="background-color: #1f7a7a;padding: 30px 0;display:block;box-sizing: border-box;height:190px;width: 100%;">
	<div style="margin-right: auto;margin-left: auto;padding: 0 35px;box-sizing: border-box;">
		<div style="margin-left: -10px;margin-right: -10px;box-sizing: border-box;">
			<div class="col-md-12 col-lg-8">
				<div style="background-color: #1f7a7a;position: relative;">
					<div style="margin-left: 0;float: left;margin: 0 20px;">
						<h3 style="color: #fff;font-size: 12px;margin-top: 0;text-transform: uppercase;"><span>VIRTUAL SPORTS ACADEMY</span></h3>
						<ul style="padding: 0;margin: 0;list-style: none;">
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Home</a></li>
							<!-- <li><a href="/format">Format</a></li> -->
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Contact Us</a></li>
						</ul>                                    
					</div>
					<div style="float: left;margin: 0 20px;">
						<h3 style="color: #fff;font-size: 12px;margin-top: 0;text-transform: uppercase;"><span>CHAMPIONSHIP</span></h3>
						<ul style="padding: 0;margin: 0;list-style: none;">
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Schedule</a></li>
							<li><a href="#" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Standings</a></li>
							<li><a href="#" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Matches</a></li>
						</ul>                                    
					</div>  
					<div style="float: left;margin: 0 20px;">
						<h3 style="color: #fff;font-size: 12px;margin-top: 0;text-transform: uppercase;"><span>TEAMS &amp; PLAYERS</span></h3>
						<ul style="padding: 0;margin: 0;list-style: none;">
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Gauteng</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Western Cape</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Eastern Cape</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Mpumalanga</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Limpopo</a></li>
						</ul>                                    
					</div>   
					<div style="float: left;margin: 0 20px;">
						<h3 style="color: #fff;font-size: 12px;margin-top: 0;text-transform: uppercase;"><span>Stories &amp; Multimedia</span></h3>
						<ul style="padding: 0;margin: 0;list-style: none;">
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">News &amp; Features</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Photo Galleries</a></li>
							<li><a href="" style="color: #d1d6df;font-size: 10px;text-decoration: none;">Blogs</a></li>
						</ul>                                    
					</div>                                  
					                                                                                             
				</div>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-12 col-lg-4">
				<div class="footer-partners">
					<div style="margin-left: -10px;margin-right: -10px;">
						<div class="col-sm-12">
							<div style="float: right;max-width: 220px;border-left: none;">
							
								<div class="mod-head">
									<h3 style="color: #000;font-size: 12px;margin: 0;text-align: center;text-transform: uppercase;padding-bottom: 20px;">OFFICIAL TIME PARTNERS</h3>
								    <img src="{% static 'images/Tissot.jpg'%}"/>
								</div>
								<div class="mod-body">
									<div style="text-align: center;">
										<img src="" style="vertical-align: middle;border: 0;">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>                            
			</div>
		</div>
	</div>
</div>