{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/themetypo.css' %}" rel="stylesheet">
		<link href="{% static 'css/styletheme/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/widget.css' %}" rel="stylesheet">
		<link href="{% static 'css/color.css' %}" rel="stylesheet">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

 <!--// Page Content //-->
        <section class="kode-pagesection top_player_section" >
          <div class="container">
            <div class="row">

              <div class="col-md-12">
                <div class="kode-section-title"> <h2>Top Provinces</h2> </div>

                  <div class="owl-carousel-team owl-theme kode-team-list next-prev-style">
                    <div class="item">
                      <figure><a href="#" class="kode-team-thumb"><img src="{% static "extra-images/Gauteng.gif" %}" alt=""></a>
                        <figcaption>
                          <ul class="kode-team-network">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                          </ul>
                          <div class="clearfix"></div>
                          <h2><a href="#">Gauteng</a></h2>
                          <a href="#" class="kode-modren-btn thbg-colortwo">View Detail</a>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="item">
                      <figure><a href="#" class="kode-team-thumb"><img src="{% static "extra-images/ECape.jpg" %}" alt=""></a>
                        <figcaption>
                          <ul class="kode-team-network">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                          </ul>
                          <div class="clearfix"></div>
                          <h2><a href="#">Eastern Cape</a></h2>
                          <a href="#" class="kode-modren-btn thbg-colortwo">Vew Detail</a>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="item">
                      <figure><a href="#" class="kode-team-thumb"><img src="{% static "extra-images/NCape.gif" %}" alt=""></a>
                        <figcaption>
                          <ul class="kode-team-network">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                          </ul>
                          <div class="clearfix"></div>
                          <h2><a href="#">Northern Cape</a></h2>
                          <a href="#" class="kode-modren-btn thbg-colortwo">Vew Detail</a>
                        </figcaption>
                      </figure>
                    </div>
                    <div class="item">
                      <figure><a href="#" class="kode-team-thumb"><img src="{% static "extra-images/Free state.jpg" %}" alt=""></a>
                        <figcaption>
                          <ul class="kode-team-network">
                            <li><a href="#" class="fa fa-facebook"></a></li>
                            <li><a href="#" class="fa fa-twitter"></a></li>
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                          </ul>
                          <div class="clearfix"></div>
                          <h2><a href="#">Free State</a></h2>
                          <a href="#" class="kode-modren-btn thbg-colortwo">Vew Detail</a>
                        </figcaption>
                      </figure>
                    </div>
                  </div>

              </div>

            </div>
          </div>
        </section>
        <!--// Page Content //-->

<script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<script src="{% static 'js/waypoints-min.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-progressbar.js' %}"></script>
		<script src="{% static 'js/jquery.accordion.js' %}"></script>
		<script src="{% static 'js/jquery.circlechart.js' %}"></script>
		<script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
		<script src="{% static 'js/kode_pp.js' %}"></script>
		<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>