{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
		<link href="{% static 'css/themetypo.css' %}" rel="stylesheet">
		<link href="{% static 'css/styletheme/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/widget.css' %}" rel="stylesheet">
		<link href="{% static 'css/color.css' %}" rel="stylesheet">
		<link href="{% static 'css/flexslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/owl.carousel.css' %}" rel="stylesheet">
		<link href="{% static 'css/jquery.bxslider.css' %}" rel="stylesheet">
		<link href="{% static 'css/prettyphoto.css' %}" rel="stylesheet">
		<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

<div class="kd-pagesection project_fact_inline">
        <div class="container">
          <div class="row">

            <div class="col-md-12">

              <!--// Counter Section //-->
              <div class="kd-counter">
                <ul class="row">
                  <li class="col-md-3">
                    <img src="{% static 'extra-images/Flag.png'%}" style="padding-bottom: 4%;">
                    <span class="">8</span>
                    <small>Provinces</small>
                  </li>
                  <li class="col-md-3">
                    <img src="{% static 'extra-images/Teams.png'%}" style="padding-bottom: 4%;">
                    <span class="">108</span>
                    <small>Teams</small>
                  </li>
                  <li class="col-md-3">
                    <i class="fa fa-users fa-3x"></i>
                    <span class="">1947</span>
                    <small>Players</small>
                  </li>
                  <li class="col-md-3">
                    <i class="fa fa-trophy fa-3x"></i>
                    <span class="">250</span>
                    <small>Awards</small>
                  </li>
                </ul>
              </div>
              <!--// Counter Section //-->

            </div>

          </div>
        </div>
      </div>

        <script src="{% static 'js/jquery.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/jquery.flexslider.js' %}"></script>
		<script src="{% static 'js/owl.carousel.min.js' %}"></script>
		<script src="{% static 'js/jquery.countdown.js' %}"></script>
		<script src="{% static 'js/waypoints-min.js' %}"></script>
{% comment %}<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>{% endcomment %}
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
		<script src="{% static 'js/jquery.bxslider.min.js' %}"></script>
		<script src="{% static 'js/bootstrap-progressbar.js' %}"></script>
		<script src="{% static 'js/jquery.accordion.js' %}"></script>
		<script src="{% static 'js/jquery.circlechart.js' %}"></script>
		<script src="{% static 'js/jquery.prettyphoto.js' %}"></script>
		<script src="{% static 'js/kode_pp.js' %}"></script>
		<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>